<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">
	<div class="alert alert-primary" th:if="${mensagem != null}" th:text=="${mensagem}">

	</div>
	<div class="card">
		<div class="card-header">
			<p class="text-primary">Novo Participante</p>
		</div>
		<div class="card-body">
			<form method="POST" th:object="${guest}" th:action="@{/guest/edit}">
				<input type="hidden" th:field="*{id}">
				<div class="form-group mb-3">
					<label for="name">Nome: </label>
					<input class="form-control" type="text" th:field="*{name}" required></input>
					<div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
				</div>
				<div class="form-group mb-3">
					<label for="level">Level: </label>
					<input class="form-control" type="text" th:field="*{level}" required></input>
					<div class="text-danger" th:if="${#fields.hasErrors('level')}" th:errors="*{level}"></div>
				</div>
				<div class="form-group mb-3">
					<label for="email">Email: </label>
					<input class="form-control" type="email" th:field="*{email}" required></input>
					<div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
				</div>

				<div class="form-group mb-3">
					<label for="fourLetters">Quatro Letras: </label>
					<input class="form-control" type="text" th:field="*{fourLetters}" maxlength="4" required></input>
					<div class="text-danger" th:if="${#fields.hasErrors('fourLetters')}" th:errors="*{fourLetters}">
					</div>
				</div>
				
				<td><a class="btn btn-primary btn-sm" th:href="@{/guest/list}">Voltar</a></td>
				<button type="submit" class="btn btn-primary">Cadastrar </button>
			</form>
		</div>
	</div>
</div>

</html>