<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout "
	layout:decorate="~{layout.html}">

<div layout:fragment="content">
	<div class="alert alert-primary" th:if="${message != null}" th:text="${message}">
		Nenhum evento cadastrado
	</div>
	<div class="card">
		<div class="card-header">
			<p class="text-primary">Evento</p>
		</div>
	</div>
	<div class="card-body">
		<form method="post" th:object="${event}" th:action="@{/event/edit}">
			<input type="hidden" th:field="*{id}">
			<div class="form-group mb-3">
				<label for="name">Nome</label>
				<input class="form-control" type="text" th:field="*{name}" required></input>
				<div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
			</div>
			<div class="form-group mb-3">
				<label for="startDate">Data inicial </label>
				<tr th:text="': '+${#dates.format(event.startDate, 'dd/MM/yyyy')}" th:if="${event.id != null}"></tr>
				<input class="form-control" type="text" id="_startDate"></input>
				<input type="hidden" th:field="*{startDate}" ></input>
				<div class="text-danger" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></div>
			</div>
			<div class="form-group mb-3">
				<label for="endDate">Data final</label>
				<tr th:text="': '+${#dates.format(event.endDate, 'dd/MM/yyyy')}" th:if="${event.id != null}"></tr>
				<input class="form-control" type="text" id="_endDate" ></input>
				<input type="hidden" th:field="*{endDate}"></input>
				<div class="text-danger" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></div>
			</div>
			
			<td><a class="btn btn-primary btn-sm" th:href="@{/event/list}">Voltar</a></td>
			<button type="submit" class="btn btn-primary">Salvar Evento</button>

			<table class="table table-striped" th:remove="${event.id} == null ? all">
				<thead>
					<tr>
						<th> Registros de Presenças </th>
						<td><a class="btn btn-primary btn-sm"
								th:href="@{/attendance/edit(id=null, idEvent=${event.id})}">Adicionar Presença</a></td>
					</tr>
					<tr th:if="${event.attendances.size}!= 0">
						<th>Data</th>
						<th>Opções</th>
					</tr>
				</thead>
				<tbody>

					<tr th:each="attendance : ${event.attendances}">
						<td th:text="${#dates.format(attendance.dateAttendance, 'dd/MM/yyyy')}"></td>
						<td><a class="btn btn-primary btn-sm"
								th:href="@{/attendance/edit(id=${attendance.id},idEvent=${event.id})}">Editar</a></td>
						<td><a class="btn btn-primary btn-sm"
								th:href="@{/attendance/delete(id=${attendance.id},idEvent=${event.id})}">Excluir</a>
						</td>
					</tr>
				</tbody>
			</table>
			<table class="table" th:remove="${event.id} == null ? all">
				<thead>
					<tr>
						<th> Grupos do Evento </th>
						<td><a class="btn btn-primary btn-sm"
								th:href="@{/group/edit(id=null, idEvent=${event.id})}">Criar
								Grupo</a></td>
					</tr>
					<tr th:if="${event.groups.size}!= 0">
						<th>ID</th>
						<th>Nome</th>
						<th>Pontuação</th>
						<th>Opções</th>
					</tr>
				</thead>
				<tbody>

					<ul th:each="group : ${event.groups}">
						<td th:text="${group.id}" style="background-color: #D6EEEE"></td>
						<td th:text="${group.name}" style="background-color: #D6EEEE"></td>
						<td th:text="${group.scoreTotal}" style="background-color: #D6EEEE"></td>
						<td style="background-color: #D6EEEE"><a class="btn btn-primary btn-sm"
								th:href="@{/group/edit(id=${group.id},idEvent=${event.id})}">Editar</a></td>
						<td style="background-color: #D6EEEE"><a class="btn btn-primary btn-sm"
								th:href="@{/group/delete(id=${group.id},idEvent=${event.id})}">Excluir</a></td>
						<!--<td style="background-color: #D6EEEE">-->
						<ul class="table">
							<tr th:each="guest : ${group.guests}">
								<td></td>
								<td th:text="${guest.name}"></td>
								<td th:text="${guest.fourLetters}"></td>

							</tr>
						</ul>
						</td>
					</ul>
				</tbody>
			</table>
			<table class="table table-striped" th:remove="${event.id} == null ? all">
				<thead>
				<tr>
					<th> Atividades do Evento </th>
					<td><a class="btn btn-primary btn-sm"
							th:href="@{/activity/edit(id=null, idEvent=${event.id})}">Criar
							Atividade</a></td>
				</tr>
					<tr th:if="${event.activities.size}!= 0">
						<th>ID</th>
						<th>Nome</th>
						<th>Opções</th>
					</tr>
				</thead>
				<tbody>

					<tr th:each="activity : ${event.activities}">
						<td th:text="${activity.id}"></td>
						<td th:text="${activity.name}"></td>
						<td><a class="btn btn-primary btn-sm"
								th:href="@{/activity/edit(id=${activity.id},idEvent=${event.id})}">Editar</a></td>
						<td><a class="btn btn-primary btn-sm"
								th:href="@{/activity/delete(id=${activity.id},idEvent=${event.id})}">Excluir</a></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>
<div layout:fragment="scripts">
	<script>
		$(function () {
			$("#_startDate").datepicker({
				dateFormat: "dd/mm/yy",
				altFormat: "yy-mm-dd",
				altField: "#startDate"
			});
			$("#_endDate").datepicker({
				dateFormat: "dd/mm/yy",
				altFormat: "yy-mm-dd",
				altField: "#endDate"
			});
		});
	</script>
</div>



</html>