<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout "
	layout:decorate="~{layout.html}">

<div layout:fragment="content">
	<div class="alert alert-primary" th:if="${message != null}" th:text="${message}">
		Nenhum evento cadastrado
	</div>
	<div class="card">
		<div class="card-header">
			<p class="text-primary">Evento</p>
		</div>
	</div>
	<div class="card-body">
		<form method="post" th:object="${event}" th:action="@{/event/edit}">
			<div class="form-group mb-3">
				<input type="hidden" th:field="*{id}">
				<label for="name">Nome</label>
				<input class="form-control" type="text" th:field="*{name}" required></input>
				<div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
			</div>
			<div class="form-group mb-3">
				<label for="startDate">Data inicial</label>
				<input class="form-control" type="text" id="_startDate"></input>
				<input type="hidden" th:field="*{startDate}"></input>
				<div class="text-danger" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></div>
			</div>
			<div class="form-group mb-3">
				<label for="endDate">Data final</label>
				<input class="form-control" type="text" id="_endDate"></input>
				<input type="hidden" th:field="*{endDate}"></input>
				<div class="text-danger" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></div>
			</div>
			<button type="submit" class="btn btn-primary" th:remove="${event.id} != null ? all" >Cadastrar</button>
		</form>
		<br>
		<div class="grupos" th:remove="${event.id} == null ? all">
			<p class="text-uppercase"> Grupos do Evento </p>
			<a class="btn btn-primary btn-sm" th:href="@{/group/edit(id=null, idEvent=${event.id})}">Criar Grupo</a>

		
				<table class="table table-striped">
					<thead th:remove="${eventGroups.isEmpty}  ? all">
						<tr>
							<th>ID</th>
							<th>Nome</th>
							<th>Opções</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="group : ${event.groups}">
							<td th:text="${group.id}"></td>
							<td th:text="${group.name}"></td>
							<td><a class="btn btn-primary btn-sm"
									th:href="@{/group/edit(id=${group.id},idEvent=${event.id})}">Editar</a></td>
							<td><a class="btn btn-primary btn-sm"
									th:href="@{/group/delete(id=${group.id},idEvent=${event.id})}">Excluir</a></td>

							<table class="table table-striped">
								<thead>
									<tr>
										<th>Nome</th>
										<th>4 Letras</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="guest : ${group.guests}">
										<td th:text="${guest.name}"></td>
										<td th:text="${guest.fourLetters}"></td>
									</tr>
								</tbody>
							</table>
						</tr>
					</tbody>
				</table>
		
		</div>
		<br>
		<br>
		<div class="atividades" th:remove="${event.id} == null ? all">
			<p class="text-uppercase"> Atividades do Evento </p>
			<a class="btn btn-primary btn-sm" th:href="@{/activity/edit(id=null, idEvent=${event.id})}">Criar
				Atividade</a>
			<table class="table table-striped">
				<thead th:remove="${eventActivities.isEmpty}  ? all">
					<tr>
						<th>ID</th>
						<th>Nome</th>
						<th>Opções</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="activity : ${eventActivities}">
						<td th:text="${activity.id}"></td>
						<td th:text="${activity.name}"></td>
						<td><a class="btn btn-primary btn-sm"
								th:href="@{/activity/edit(id=${activity.id},idEvent=${event.id})}">Editar</a></td>
						<td><a class="btn btn-primary btn-sm"
								th:href="@{/activity/delete(id=${activity.id},idEvent=${event.id})}">Excluir</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div layout:fragment="scripts">
	<script>
		$(function () {
			$("#_startDate").datepicker({
				dateFormat: "dd/mm/yy",
				altFormat: "yy-mm-dd",
				altField: "#startDate"
			});
			$("#_endDate").datepicker({
				dateFormat: "dd/mm/yy",
				altFormat: "yy-mm-dd",
				altField: "#endDate"
			});
		});
	</script>
</div>



</html>